@{
    ViewData["Title"] = "О нас";
}

<div class="container-fluid about-header-cont">
    <div class="row">
        <div class="col about-header-row"><h1 class="text-center">Немного про LeshBrain</h1></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm border-bottom border-dark">
            <h4 class="about-principle-header">Принципы LeshBrain</h4>
        </div>
    </div>
    <div class="row justify-content-center about-principle-row">
        <div class="col-sm-2">
            <h4>Качественный<br> результат</h4>
            <p>
                Уделяем внимание каждой детали и не любим небрежности. Помогаем вашим сотрудниками идти вперед.
            </p>
        </div>
        <div class="col-sm-2 about-header-col">
            <h4>Профессиональное развитие</h4>
            <p>Непрерывно обучаемся и совершенствуемся в своей профессиональной области. Остаемся в курсе последних мировых технологических трендов</p>
        </div>
        <div class="col-sm-2 about-header-col">
            <h4>Инициатива и ответственность</h4>
            <p>Смело проявляем инициативу и берем на себя ответственность за происходящее с нами, результатом нашей работы, нашей компанией, страной и планетой.</p>
        </div>
        <div class="col-sm-2 about-header-col">
            <h4>Уважение<br>  и доверие</h4>
            <p>Поддерживаем честность и открытость в отношениях. Формируем культуру взаимного уважения, доверия и конструктивного решения споров.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1 class="text-center">Слаженная команда</h1>
                <p class="text-center about-personal">В подготовке ваших сотрудников нам помогают самые лучшие преподаватели этой страны!</p>
            </div>
        </div>
        <!-- foreach block personal -->
        <div class="row justify-content-center">
            <div class="col-sm-3">
                <div class="person">
                    <div class="text-center">
                        <img src="~/Content/UsersImage/спанч.jpg" alt="avatar" class="rounded-circle align-center">
                    </div>
                    <p class="text-center">
                        <strong>Name<br>Surname</strong>
                    </p>
                    <p class="text-center">Role</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="person">
                    <div class="text-center">
                        <img src="~/Content/UsersImage/спанч.jpg" alt="avatar" class="rounded-circle align-center">
                    </div>
                    <p class="text-center">
                        <strong>Name<br>Surname</strong>
                    </p>
                    <p class="text-center">Role</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="person">
                    <div class="text-center">
                        <img src="~/Content/UsersImage/спанч.jpg" alt="avatar" class="rounded-circle align-center">
                    </div>
                    <p class="text-center">
                        <strong>Name<br>Surname</strong>
                    </p>
                    <p class="text-center">Role</p>
                </div>
            </div>
        </div>

        <!-- foreach block personal -->
    </div>
</div>