@{
    ViewData["Title"] = "Возможности";
}
<section class="mainSection">
    <div class="container capa-cont">
        <div class="row" align="center">
            <h1><span style="font-weight: 400;">Как работает</span> LeshBrain</h1>
        </div>
        <div class="row">
            <div class="col-sm-4 capa-list"><img src="~/img/bd-icon.svg" alt="bd-icon" class="capa-icon">База знаний</div>
            <div class="col-sm-4 capa-list"><img src="~/img/test-icon.svg" alt="test-icon" class="capa-icon">Тестирование сотрудников</div>
            <div class="col-sm-4 capa-list"><img src="~/img/search-icon.svg" alt="search-icon" class="capa-icon">Поиск персонала</div>
        </div>
        <div class="row capa-row">
            <div class="col-sm-7">
                <!-- <img src="../img/promo.png" alt="capabilities" class="mx-auto d-block img-capa" id="firstCapa"> -->
                <img src="~/img/promo.png" alt="capabilities" class="img-capa" id="firstCapa">
            </div>
            <div class="col-sm">
                <h1 class="capa-header">База знаний</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Adipisci eius magni ducimus nemo eligendi eveniet reprehenderit perspiciatis culpa facere!
                    Quae consequuntur, earum ullam maxime nobis nihil ut labore reprehenderit accusamus!
                </p>
            </div>
        </div>
        <div class="row capa-row">
            <div class="col-sm">
                <h1 class="capa-header">Тестирование сотрудников</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Adipisci eius magni ducimus nemo eligendi eveniet reprehenderit perspiciatis culpa facere!
                    Quae consequuntur, earum ullam maxime nobis nihil ut labore reprehenderit accusamus!
                </p>
            </div>
            <div class="col-sm-7">
                <!-- <img src="../img/promo.png" alt="capabilities" class="mx-auto d-block img-capa" id="secCapa"> -->
                <img src="~/img/promo.png" alt="capabilities" class="img-capa float-end" id="secCapa">
            </div>
        </div>
        <div class="row capa-row">
            <div class="col-sm-7">
                <!-- <img src="../img/promo.png" alt="capabilities" class="mx-auto d-block img-capa" id="thCapa"> -->
                <img src="~/img/promo.png" alt="capabilities" class="img-capa" id="thCapa">
            </div>
            <div class="col-sm">
                <h1 class="capa-header">Поиск персонала</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Adipisci eius magni ducimus nemo eligendi eveniet reprehenderit perspiciatis culpa facere!
                    Quae consequuntur, earum ullam maxime nobis nihil ut labore reprehenderit accusamus!
                </p>
            </div>
        </div>
    </div>
</section>