@{ 
    ViewData["Title"] = "LeshBrain";
}
<section>
    <div class="container-fluid promo">
        <div class="container">
            <div class="row">
                <div class="col-6 promo-text-div">
                    <h2 class="promo-text">
                        Проектирование и разработка программного<br>
                        средства для создания интерактивных<br>
                        электронных учебных материалов<br>
                        и предоставления доступа к ним<br>
                        <span class="promo-text-anim hide">И не только...</span>
                    </h2>
                </div>
            </div>
        </div>
        <!-- <img src="../img/promo.png" alt="promo"> -->
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col why-lesh-head" align="center">
                <h2>Сделайте свой бизнес эффективнее с L<span class="header-color">e</span>shBr<span class="header-color">a</span>in</h2>
            </div>
        </div>
        <div class="row why-lesh">
            <div class="col-3">
                <img src="~/img/adaptation.svg" alt="adaptation">
                <h5 class="why-lesh-text">Адаптация</h5>
            </div>
            <div class="col-3">
                <img src="~/img/motivation.svg" alt="motivation">
                <h5 class="why-lesh-text">Мотивация</h5>
            </div>
            <div class="col-3">
                <img src="~/img/education.svg" alt="education">
                <h5 class="why-lesh-text">Обучение</h5>
            </div>
            <div class="col-3">
                <img src="~/img/testing.svg" alt="testing">
                <h5 class="why-lesh-text">Тестирование</h5>
            </div>
        </div>
        <div class="row">
            <div class="col" align="center">
                <p class="why-lesh-bigtext">
                    Чем больше сотрудников, тем больше бардак. Некомпетентность, безответственность, хаос в операционке, авралы, массовые опоздания и никакой субординации.
                    Неизбежные «болезни роста» компании? Скорее банальное отсутствие четко регламентированных правил, стандартов и бизнес-процессов,
                    что ведет к неэффективности и падению мотивации сотрудников.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col" align="center">
                <p class="why-lesh-bigtext"><strong>LeshBrain помогает решить эту проблему.</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col" align="center">
                <p class="why-lesh-bigtext why-lesh-last">
                    С нашим сервисом ваш бизнес станет прозрачным, эффективным и масштабируемым,
                    а сотрудники действительно захотят работать, добиваться результатов и превратятся в эффективную команду.
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid how-look-cont">
        <div class="container">
            <div class="row">
                <div class="col how-look-header" align="center"><h3>Как выглядит работа в L<span class="header-color">e</span>shBr<span class="header-color">a</span>in</h3></div>
            </div>
            <div class="row how-row">
                <div class="col-3 how-look-content">
                    <ul class="how-look-list">
                        <li class="how-look-list-item" value="1">Функционал</li>
                        <li class="how-look-list-item" value="2">Функционал</li>
                        <li class="how-look-list-item" value="3">Функционал</li>
                        <li class="how-look-list-item" value="4">Функционал</li>
                    </ul>
                </div>
                <div class="col-9 how-look-content" align="center">
                    <img src="~/Content/HowLook/img/1.svg" class="how-look-img" alt="function">
                </div>
            </div>
        </div>
    </div>
</section>