@model LeshBrain.ViewModels.TestListViewModel
@{ 
    Layout = "_LayoutAdmin";
    ViewData["Name"] = "Тесты";
}
<div class="scroll-block table-block container">
    <div class="row d-flex justify-content-center">
        <div class="col-5">
            <form class="filtrLib">
                <div class="text-center">
                    <h3>Поиск</h3>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-md-4">
                            <input name="name" type="text" class="form-control tbhr-input" id="inputCity" placeholder="Название">
                        </div>
                        <div class="col-md-4">
                            <select name="id" asp-items="Model.ListCategory" class="form-control"></select>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="tb-btn btn rounded-pill">Поиск</button>
                        </div>
                        @if ((User.IsInRole("mentor") || User.IsInRole("admin")))
                        {
                            <div class="list-group m-3">
                                <a asp-controller="Test" asp-action="Add" class="list-group-item list-group-item-action active" aria-current="true">Добавить</a>
                            </div>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="br-t row">
        @foreach (var test in Model.Test)
        {
            <div class="test-card col-3 text-center" data-id="@test.Id">
                <div>
                    <i class="test-head las la-archive"></i>
                    <div class="test-content">
                        <h1>@test.Name</h1>
                        <span class="test-span">@test.Category.Name</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>