@model LeshBrain.ViewModels.TestComplPassViewModel
@{ 
    Layout = "_LayoutAdmin";
    ViewData["Name"] = "Результаты";
}
<div class="scroll-block table-block container">
    <div class="row d-flex justify-content-center">
        <div class="col-5">
            <div class="text-center">
                <h1>Ваш результат @Model.CurrentResult / @Model.MaxResult</h1>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-5">
            <div class="text-center">
                <form method="get" asp-controller="Test" asp-action="Index">
                    <button class="btn btn-primary rounded-pill">Назад</button>
                </form>
            </div>
        </div>
    </div>
</div>